{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}闲{% endblock %}

{% block page_content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<img alt="140x140" src="http://www.vsread.com/iconograph/1243249686.jpg" />
			<h5>
				自行车1
			</h5>
			<p>
				谁爱谁买
			</p>
		</div>
		<div class="span4">
			<img alt="140x140" src="http://i1.ymfile.com/importimg/81b55573c00252fdb9318dd00232b61f.jpg" />
			<h5>
				自行车2
			</h5>
			<p>
				爱买不买
			</p>
		</div>
		<div class="span4">
			<img alt="140x140" src="http://www.cn486.com/upload/2010/10/02/101002112705107.jpg" />
			<h5>
				自行车3
			</h5>
			<p>
				快来买啊
			</p>
		</div>
	</div>
</div>
{% endblock %}
